{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video detector</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/svg/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/media_query.css' %}">
</head>
<body>
<!-- ====================================== Header ===================================== -->
<div class="overlay" onclick="toggleMenu()"></div>
<header id="top-navbar" class="top-navbar">
    <div class="container">
        <nav>
            <a href="feature.html" class="logo">
                <img src="{% static 'assets/images/svg/favicon.svg' %}" alt="logo">
            </a>
            <div class="menu-icon" onclick="toggleMenu()">
                <img src="{% static 'assets/images/svg/menu.svg' %}" alt="menu">
            </div>
            <div class="nav-links-mn">
                <ul class="nav-links">
                    <li class="d-flex justify-content-center">
                        <a href="feature.html" class="side-menu-logo">
                            <img src="{% static 'assets/images/svg/logo.svg' %}" alt="logo">
                        </a>
                    </li>
                    <li><a class="a-link" href="{% url 'website:home' %}">Home</a></li>
                    <li><a class="a-link" href="{% url 'website:ho' %}">Image Detector</a></li>
                    <li><a class="a-link" href="{% url 'website:upload_video' %}">Video Detector</a></li>
                    <li><a class="a-link" href="{% url 'website:about' %}">About</a></li>
                    <li><a class="a-link" href="{% url 'website:contact' %}">Contact Us</a></li>
                </ul>
                <div class="ml-auto">
                    <!-- Place it here -->
                    {% if user.is_authenticated %}
                        <span class="me-3" style="color: white;">Welcome, {{ user.username }}</span>
                        <a href="{% url 'website:logout' %}" class="btn btn-outline-danger btn-sm">Logout</a>


                    {% else %}
                        <a href="#" class="button2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <span>Login</span>
                        </a>
                    {% endif %}
                </div>
                <div class="header-buttons-main">
                    <a href="#home" class="button"> Get Started
                        <span class="hoverEffect">
                            <span></span>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
{% block extra_css %}
    <style>
        .section-two .card {
            background-color: black;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 255, 177, 0.2);
            padding: 2rem;
            position: relative;
            overflow: hidden;
            max-width: 600px;
            margin: 0 auto;
        }

        /* (rest of your styles unchanged) */
    </style>
{% endblock %}

</body>
</html>


<section class="section-two position-relative py-5">
    <div class="container">
        <h1 class="sec-heding text-center">Fake Video <span>Detector</span></h1>
        <p class="sub-heding text-center mb-5">
            Upload a video to analyze and detect if it's AI-generated or manipulated using our advanced AI algorithms.
        </p>
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow">
                    {% if video %}
                        {% if video.prediction %}
                            <div class="alert-result {% if video.prediction == 'real' %}alert-real{% else %}alert-fake{% endif %} text-center"
                                 style="color: white; font-size: 1.5em;">
                                <strong>Prediction Result:</strong> {{ video.prediction|capfirst }}

                                {% if score is not None %}
                                    <br>
                                    <span style="font-size: 1.2rem;">
                    Confidence Score: {{ score|floatformat:4 }}
                </span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="text-center mb-3">
                            <video width="100%" controls>
                                <source src="{{ video.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="community-btn-main text-center mt-3">
                            <button type="submit" class="button">Detect</button>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger mt-3">{{ form.errors }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="position-relative footer-main">
    <img class="footer-logo" src="{% static 'assets/images/home-page/footer-logo.png' %}" alt="footer-logo">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-5 footer-col-fir">
                <svg class="djks" xmlns="http://www.w3.org/2000/svg" width="2" height="100" viewBox="0 0 2 100"
                     fill="none">
                    <path d="M1 0L0.999996 100" stroke="url(#paint0_linear_137_269)" stroke-width="2"/>
                    <defs>
                        <linearGradient id="paint0_linear_137_269" x1="1.5" y1="2.18557e-08" x2="1.5" y2="100"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1A1A1A" offset="0"/>
                            <stop offset="0.5" stop-color="#00FFB1"/>
                            <stop offset="1" stop-color="#1A1A1A"/>
                        </linearGradient>
                    </defs>
                </svg>
                <h2 class="sec-heding advice">Expert Deepfake Detection with <span>Truth Lens?</span></h2>
                <p class="dui seci dsos">Trust Truth Lens to provide accurate and reliable tools for identifying
                    manipulated images, protecting your content and reputation.</p>
                <div class="ref-demo">
                    <a href="feature.html" class="button"> Request Demo
                        <span class="hoverEffect">
                            <span></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-7 footer-col-sec">
                <img class="footer-gefdo" src="{% static 'assets/images/home-page/blue-gardient2.png' %}"
                     alt="blue-gardient2">
                <div class="box-footer">
                    <p class="resour">Resources</p>
                    <ul class="foot-links">
                        <li><a href="about.html">About</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="features.html">Features</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li class="mb-0"><a href="#">Request API Access</a></li>
                    </ul>
                </div>
                <div class="box-footer">
                    <p class="resour">Quick Links</p>
                    <ul class="foot-links">
                        <li><a href="javascript:void(0);" data-bs-toggle="modal"
                               data-bs-target="#exampleModal">Login</a></li>
                        <li><a href="javascript:void(0);" data-bs-toggle="modal"
                               data-bs-target="#exampleModal">Register</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li class="mb-0"><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="coprights-main">
        <svg class="das" xmlns="http://www.w3.org/2000/svg" width="100" height="2" viewBox="0 0 100 2" fill="none">
            <path d="M100 1L8.49366e-07 0.999996" stroke="url(#paint0_linear_137_271)" stroke-width="2"/>
            <defs>
                <linearGradient id="paint0_linear_137_271" x1="100" y1="1.5" x2="-2.18557e-08" y2="1.5"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1A1A1A" offset="0"/>
                    <stop offset="0.5" stop-color="#5C33FF"/>
                    <stop offset="1" stop-color="#1A1A1A"/>
                </linearGradient>
            </defs>
        </svg>
        <div class="container">
            <div class="rights-reserved">
                <h2>© 2025 - All rights reserved by
                    <a href="https://1.envato.market/website-portfolio" target="_blank"> DEv.</a>
                </h2>
                <div class="footer-media">
                    <a href="https://www.facebook.com/"><img src="{% static 'assets/images/svg/facebook.svg' %}"
                                                             alt="facebook">Facebook</a>
                    <a href="https://www.instagram.com/"><img src="{% static 'assets/images/svg/insta.svg' %}"
                                                              alt="insta">Instagram</a>
                    <a href="https://x.com/"><img src="{% static 'assets/images/svg/twitter.svg' %}" alt="twitter">Twitter</a>
                    <a href="https://www.linkedin.com/"><img src="{% static 'assets/images/svg/linkedin.svg' %}"
                                                             alt="linkedin">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Login Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body form-modal-body">
                <button type="button" class="btn-close form-close-btn" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="container-demo">

                    <!-- LOGIN FORM -->
                    <div class="user signinBx">
                        <div class="imgBx">
                            <img src="{% static 'assets/images/home-page/form-img1.jpg' %}" alt="form-img1">
                        </div>
                        <div class="formBx">
                            <form method="POST" action="{% url 'website:login' %}">
                                {% csrf_token %}
                                <h2>Sign In</h2>
                                <input type="email" name="email" placeholder="Email Address" required
                                       autocomplete="off">
                                <input type="password" name="password" placeholder="Password" required
                                       autocomplete="off">
                                <button type="submit" class="button subscribeBtn">
                                    Login
                                    <span class="hoverEffect"><span></span></span>
                                </button>
                                <p class="signup">
                                    Don't have an account?
                                    <a href="javascript:void(0);" onclick="toggleForm();">Sign Up</a>
                                </p>
                            </form>
                        </div>
                    </div>

                    <!-- SIGNUP FORM -->
                    <div class="user signupBx">
                        <div class="formBx">
                            <form method="POST" action="{% url 'website:signup' %}">
                                {% csrf_token %}
                                <h2>Create an account</h2>
                                <input type="text" name="username" placeholder="Username" required autocomplete="off">
                                <input type="email" name="email" placeholder="Email Address" required
                                       autocomplete="off">
                                <input type="password" name="password" placeholder="Create Password" required
                                       autocomplete="off">
                                <input type="password" name="confirm_password" placeholder="Confirm Password" required
                                       autocomplete="off">
                                <button type="submit" class="button subscribeBtn">
                                    Sign Up
                                    <span class="hoverEffect"><span></span></span>
                                </button>
                                <p class="signup">
                                    Already have an account?
                                    <a href="javascript:void(0);" onclick="toggleForm();">Sign in</a>
                                </p>
                            </form>
                        </div>
                        <div class="imgBx">
                            <img src="{% static 'assets/images/home-page/form-img2.jpg' %}" alt="form-img2">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom to Top Button -->
<button class="bottom-top-button">↑</button>
<!-- Scripts -->
<script src="{% static 'assets/javascript/jquery.js' %}"></script>
<script src="{% static 'assets/javascript/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/javascript/slick.min.js' %}"></script>
<script src="{% static 'assets/javascript/script.js' %}"></script>